{% extends "base_generic.html" %}

{% block content %}
    <script src="/static/js/search.js"></script>
    <script src="/static/js/typeahead.jquery.js"></script>
    <link rel="stylesheet" href="/static/css/typeahead.css">
    <div id="main-filter">
        <div id="the-basics">
            <input id='typeahead' class="typeahead" type="text" placeholder="Enter city name">
        </div>
        <div>
            <input id="date-range" type="text" name="daterange" />
            <button id="main-filter-button" type="button" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div id='res-body'>
        
        <div id='results' class="row">
            <p id='noresults'>No Results to Show</p>
        </div>    
        <div class="optional-filter" style="display: none">
            <div id="roomtype-filter"></div>
        </div>
    </div>

    
    
{% endblock %}