.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#main-filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#res-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-small{
    width: 18rem;
}

#results{
    flex: 8;
}

.optional-filter{
    flex: 1;
}

div{
    padding: 2px;
}