{% extends "base_generic.html" %}
{% block content %}
<style>
.new{float:left; }
#error{color:red;}
</style>

 
 <div class="new">
    <div class="container">
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3><br><div id="error"> </div>
		<br>
<div id="main-filter">
	<div class = "as" id="the-basics" style="float:left">
          <b>Username:</b>      <input id="username" type="text" name="username"><br><br><br>
		  <b>Password:</b>      <input id="password" type="password" name="password"><br><br><br>
		  <b>Confirm Password:</b>      <input id="cpassword" type="password" name="cpassword"><br><br><br>
		  <b>First Name:</b>    <input id="fname" type="text" name="fname"><br><br><br>
		  <b>Last Name:</b>     <input id="lname" type="text" name="lname"><br><br><br>
		  <b>Email:</b>         <input id="email" type="email" name = "email"><br><br><br>
		  <b>Phone Number:</b>  <input id="phno" type="text" name = "phno"><br><br><br><br>
		  <input id="btn" type="button" value="Register">
    </div>
	<script src="/static/js/register.js"></script>
	   </div>
  </div>
{% endblock %}